/*
Name: Shohum Boker 
Date: 04.20.2021
Section: CS 355

This is the coursemanagement.css page for the Course Enrollment Application this just for  
coursemanagement.html
*/
form{
    border: 1px solid black; 
    width: 500px;
    margin: 25px;
    padding: 5px;
    display: block;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.24);
}

#submit{
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type="radio"]{
  margin: 15px;
}

label{
    font-size: 1.17em;
    font-weight: bold;
    width: 500px;
    height: 25px;
    text-indent: 25px;
    padding: 5px;
    color: #0c1d5b;
    background: #79b321;
    border: 1px solid black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.24);
}
label p{
    font-size: 16px;
    font-weight: normal;
    display: inline;
    width: 300px;
    height: 25px;
    text-indent: 25px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0c1d5b;
}
#add{text-decoration: none;}
#add:hover{color: #0f0f0f;}
