/*
Name: Shohum Boker
Date: 04.20.2021
Section: CS 355

This is the style.css page for the Course Enrollment Application for the instructor, this will 
be  applied to all pages on the instructor side

*/

body{
    margin: 0;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
header{
    background: red;
    margin: 0;
    border: 3px solid black;
    width: 100vmax;
}
#out{
  float: right;
  clear: right;
  
}
/* with some help from https://stackoverflow.com/questions/11909947/css-text-indent-equivalent-on-the-right-side*/
#out:before {
      content: ' ';
      width: 25px;
      float: right;
      height: 5px;
} 
#logo{
    text-indent: 5px;
}
#logo, #out{
    color: white; 
    text-decoration: none;
}
h1{
    text-decoration: underline;
    text-indent: 25px;
}
img{
    background: red;
    display: block;
    margin: auto;
    padding: 10px;
    border: 1px solid black; 
    /*I got by with a little help from https://stackoverflow.com/questions/33203148/how-to-make-a-div-box-look-3d*/
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.24);
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    border: 3px solid black;
    width: 100vmax;
}
a{
    color: #fffff4; 
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /*The code above for the footer was suppled by https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
    background: black;
    margin-bottom: 0px;
    border: 3px solid black;
}
footer p, #none{
    color: #fffff4; 
    text-align: center; 
    text-decoration-line: none;
}
#main{
    margin-bottom: 50px;
}
/* Some help from https://www.w3schools.com/css/css3_buttons.asp*/
.button:hover{
    background-color: #fffff4;
    color: #0f0f0f;
}
.button{
  background-color: #0f0f0f; 
  border: none;
  border-radius: 5px;
  color: #fffff4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  font-size: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.24);
}

