<!DOCTYPE html>
<!--
  Name: Nicholas Ganeshram
  Date: 04.20.2021
  Section: CS 355

  This is the homepage.html page for my Course Enrollment Application, this will be the home-page 
  which will direct you to different webpage/functions of the website.
-->
<html lang="en">
    <head>
        <title>Queens College Course Enrollment </title>
        <meta charset="utf-8">
        <meta name="description" content="Queens College Course Enrollment">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/js" href="/js/util.js">
    </head>
    <body id="homepage">
        <header id="showcase" >
            <div class="content-wrap">
                <div class="horizontal-center">
                    <a href="/homepage" style="text-decoration:none;color: white"><h1>Queens College CunyFirst</h1></a>
                </div>
            </div>
        </header>
        <main id="main">
            <section id="section-g">
                <div class="TaskBar">
                    <a href="/enroll">Enroll Course</a>
                    <a href="/withdraw">Withdraw Course</a>
                    <a href="/html/contacthelp.html">Contact</a>
                    <a href="/">Logout</a>
                </div>
            </section>
            <section id="section-a" >
                <div class="content-wrap">
                    <h2 class="content-title">Current Enrolled Courses</h2>
                    <%for (var i = 0; i < info.length; i++){%>
                    <div class="content-text">
                        <div class="information notification-box">
                            <h3><%= info[i].CourseName
                      + " " +  info[i].CourseNumber + " - " +
                      info[i].Semester%></h3>
                            <p><% for(var j = 0; j < info[i].DOWS.length; j++){%> 
                              <%= info[i].DOWS[j] %>
                          <% } %>
                            <%=intToTime(info[i].StartTime)
                      + "-" + intToTime(info[i].EndTime)%></p>
                        </div>
                    </div>
                    <% } %>
                </div>
            </section>
            <section id="section-b" >
                <div class="content-wrap">
                    <h2>Queens College Announcements</h2>
                </div>
                <ul>
                    <li>
                        <a href="https://www.qc.cuny.edu/Pages/home.aspx" target="_blank">
                            <div class="card">
                                <img src="/img/logo_cropped_QueensCollegeCUNY_C.png" alt="QC" width="500" height="500">
                                <div class="card-content">
                                    <h3 class="card-title">Queens College Home Page</h3>
                                    <p>Quick access to Queens College Home Page, where you will find anything and everything about life    at QC!</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/qc_news?lang=en" target="_blank">
                            <div class="card">
                                <img src="/img/twitter-logo-2-1.png" alt="Twitter Image" width="50%" height="50%" >
                                <div class="card-content">
                                    <h3 class="card-title">Queens College Twitter Page </h3>
                                    <p>For up to date news, announcements follow Our Twitter Page!</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/QueensCollege/" target="_blank">
                            <div class="card">
                                <img src="/img/Facebook-logo.png" alt="Facebook Image">
                                <div class="card-content">
                                    <h3 class="card-title">Queens College Facebook Page</h3>
                                    <p>For up to date news, announcements follow Our Facebook Page!</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </main>
        <footer id="main-footer" ></footer>
    </body>
</html>